@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

/*CABEÇAHO*/

.navbar{
    background-color: black;
    border-radius: 5px;
}
.collapse{
    display: flex;
    justify-content: flex-end;
}

.collapse a{
    font-size: 1.3rem;
    color: #d9a648;
    cursor: pointer;
    border-bottom: 5px solid #000;
}

.collapse a:hover{
    border-bottom: 5px solid #d9a648;
    color: white;
    
}

.container-fluid h2{
    margin-left: 20px;
    color: white;
}

/*CORPO*/

.sect1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.sect1 h2{
    margin-top: 20px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.card-text{
    font-size: 1rem;
}

.sect2{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sect2 h2{
    margin-top: 20px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.cards img{
    height: 175px;
}






footer{
    margin-top: 100px;
    height: 200px;
}

footer h2{
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 50px;
}

.c3 h2{
    margin-bottom: 20px;
}

.contato{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contato img{
    padding: 10px;
    cursor: pointer;
}


.parceiros{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.parceiros img{
    width: 6rem;
    height: 5rem;
    padding: 10px;
    cursor: pointer;
}

.informacoes1{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.informacoes1 p {
    color: gray;
    cursor: pointer;
}
